body.rss-feed-url {
    background-color: #292C33;
}
.rss-feed-url #feeds2, .rss-feed-url #feeds3 {
    color: #999FAA;
}
.rss-feed-url #feeds {
    color: #999FAA;
}
.rss-feed-url #feeds table, .rss-feed-url #feeds2 table, .rss-feed-url #feeds3 table, .rss-feed-url #feedsCopyAll table {
    color: #e7ac94;
}
.rss-feed-url #feeds table tr:hover td, .rss-feed-url #feeds2 table tr:hover td, .rss-feed-url #feeds3 table tr:hover td, .rss-feed-url #feedsCopyAll table tr:hover td {
    background-color: rgba(255, 156, 0, 0.1);
}
.rss-feed-url #feeds a.link, .rss-feed-url #feeds2 a.link, .rss-feed-url #feeds3 a.link, .rss-feed-url #feedsCopyAll a.link {
    color: #fcc809;
}
.rss-feed-url #feeds a.copyButton, .rss-feed-url #feeds2 a.copyButton, .rss-feed-url #feeds3 a.copyButton, .rss-feed-url #feedsCopyAll a.copyButton {
    background-color: #ff9c00;
    color: #010101;
}
.rss-feed-url #feeds a.copyButton:hover, .rss-feed-url #feeds2 a.copyButton:hover, .rss-feed-url #feeds3 a.copyButton:hover, .rss-feed-url #feedsCopyAll a.copyButton:hover {
    background-color: #f06236;
}
.rss-feed-url #feeds a#copyAllLinks, .rss-feed-url #feeds2 a#copyAllLinks, .rss-feed-url #feeds3 a#copyAllLinks, .rss-feed-url #feedsCopyAll a#copyAllLinks, .rss-feed-url #feeds a#sendToSlickRssAllLinks, .rss-feed-url #feeds2 a#sendToSlickRssAllLinks, .rss-feed-url #feeds3 a#sendToSlickRssAllLinks, .rss-feed-url #feedsCopyAll a#sendToSlickRssAllLinks {
    color: #ff9c00;
}
.rss-feed-url header {
    background-color: #ff9c00;
}
.rss-feed-url header h1 {
    color: #010101;
}
.rss-feed-url .footer {
    background-color: #ff9c00;
}
.rss-feed-url .footer a {
    color: #010101;
}
.rss-feed-url .footer1_1 {
    background-color: #ff9c00;
}
.rss-feed-url .footer1_2 {
    background-color: #ff9c00;
}
.rss-feed-url .footer1_3 {
    background-color: #ff9c00;
}
.rss-feed-url .footer1_1 a {
    color: #010101;
}
.rss-feed-url .footer1_2 a {
    color: #010101;
}
.rss-feed-url .footer1_3 a {
    color: #010101;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
    background-color: rgb(64, 64, 64);
}
::-webkit-scrollbar-thumb {
    background-color: #666;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

::-webkit-scrollbar-thumb:active {
    background-color: #ff9c00;
}
/* Buttons */
::-webkit-scrollbar-button:single-button {
    background-color: #292C33;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><g transform='rotate(90,50,50)'><line x1='10' y1='50' x2='80' y2='10' stroke='rgb(102, 102, 102)' stroke-width='10' stroke-linecap='round' /><line x1='10' y1='50' x2='80' y2='90' stroke='rgb(102, 102, 102)' stroke-width='10' stroke-linecap='round' /></g></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><g transform='rotate(90,50,50)'><line x1='10' y1='50' x2='80' y2='10' stroke='rgb(136, 136, 136)' stroke-width='10' stroke-linecap='round' /><line x1='10' y1='50' x2='80' y2='90' stroke='rgb(136, 136, 136)' stroke-width='10' stroke-linecap='round' /></g></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><g transform='rotate(90,50,50)'><line x1='10' y1='50' x2='80' y2='10' stroke='rgb(255, 156, 0)' stroke-width='10' stroke-linecap='round' /><line x1='10' y1='50' x2='80' y2='90' stroke='rgb(255, 156, 0)' stroke-width='10' stroke-linecap='round' /></g></svg>");
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><g transform='rotate(-90,50,50)'><line x1='10' y1='50' x2='80' y2='10' stroke='rgb(102, 102, 102)' stroke-width='10' stroke-linecap='round' /><line x1='10' y1='50' x2='80' y2='90' stroke='rgb(102, 102, 102)' stroke-width='10' stroke-linecap='round' /></g></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><g transform='rotate(-90,50,50)'><line x1='10' y1='50' x2='80' y2='10' stroke='rgb(136, 136, 136)' stroke-width='10' stroke-linecap='round' /><line x1='10' y1='50' x2='80' y2='90' stroke='rgb(136, 136, 136)' stroke-width='10' stroke-linecap='round' /></g></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><g transform='rotate(-90,50,50)'><line x1='10' y1='50' x2='80' y2='10' stroke='rgb(255, 156, 0)' stroke-width='10' stroke-linecap='round' /><line x1='10' y1='50' x2='80' y2='90' stroke='rgb(255, 156, 0)' stroke-width='10' stroke-linecap='round' /></g></svg>");
}
/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><line x1='10' y1='50' x2='80' y2='10' stroke='rgb(102, 102, 102)' stroke-width='10' stroke-linecap='round' /><line x1='10' y1='50' x2='80' y2='90' stroke='rgb(102, 102, 102)' stroke-width='10' stroke-linecap='round' /></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><line x1='10' y1='50' x2='80' y2='10' stroke='rgb(136, 136, 136)' stroke-width='10' stroke-linecap='round' /><line x1='10' y1='50' x2='80' y2='90' stroke='rgb(136, 136, 136)' stroke-width='10' stroke-linecap='round' /></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><line x1='10' y1='50' x2='80' y2='10' stroke='rgb(255, 156, 0)' stroke-width='10' stroke-linecap='round' /><line x1='10' y1='50' x2='80' y2='90' stroke='rgb(255, 156, 0)' stroke-width='10' stroke-linecap='round' /></svg>");
}
/* Right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><g transform='rotate(180,50,50)'><line x1='10' y1='50' x2='80' y2='10' stroke='rgb(102, 102, 102)' stroke-width='10' stroke-linecap='round' /><line x1='10' y1='50' x2='80' y2='90' stroke='rgb(102, 102, 102)' stroke-width='10' stroke-linecap='round' /></g></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><g transform='rotate(180,50,50)'><line x1='10' y1='50' x2='80' y2='10' stroke='rgb(136, 136, 136)' stroke-width='10' stroke-linecap='round' /><line x1='10' y1='50' x2='80' y2='90' stroke='rgb(136, 136, 136)' stroke-width='10' stroke-linecap='round' /></g></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><g transform='rotate(180,50,50)'><line x1='10' y1='50' x2='80' y2='10' stroke='rgb(255, 156, 0)' stroke-width='10' stroke-linecap='round' /><line x1='10' y1='50' x2='80' y2='90' stroke='rgb(255, 156, 0)' stroke-width='10' stroke-linecap='round' /></g></svg>");
}
